body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: darkslategray;
}
.game {
    text-align: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.cell:hover {
    background-color: blue;
}
.button {
    padding: 15px 30px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: darkblue;
}